{% extends 'base.html' %} 

{% block content %}
<div 
  class="container-fluid py-5 text-center text-white d-flex flex-column justify-content-center align-items-center" 
  style="background-image: url('https://wallpapers.com/images/hd/mac-dark-5120-x-2880-6kdtbj49exajussf.jpg'); background-size: cover; background-position: center; min-height: 100vh;">
  <div class="mb-5 bg-dark bg-opacity-50 p-4 rounded">
    <h1 class="display-4 fw-bold">Bienvenidos</h1>
    <p class="lead">Descubre nuestros productos y servicios destacados</p>
  </div>
</div>
{% endblock %}


